input[type=number] {
    width:120px;
    float:right;
    border-width:0;
    border-left-width:1px;
    border-radius: 0!important;
    background: #eeeeee;
  }
  
  select {
    width:120px;
    float:right;
    border-width:0;
    border-left-width:1px;
    border-radius: 0!important;
    background: #eeeeee;
  }
  
  input .form-check-input{
    width:10px!important;
    height:10px!important;
  }
  
  label {
    margin-top:8px;
    padding-left:10px;
  }
  
  .list-group-item{
    padding:0;
    margin:0;
  }
  
  .busca .card{
    height:calc(100vh - 40px);
    padding:0px;
    border-radius: 5px;
    background: #0C0C0C url("../assets/back.jpg") no-repeat;
    background-size: contain;
    border-width: 0;
  }
  
  button{
    padding:15px;
    border-width:0;
    border-radius: 0 0 5px 5px;
    background: #0C0C0C!important;
  }
  
  button:hover{
    background: #000000!important;
    backdrop-filter: blur(4px);
  }
  .card-title{color: #000000; font-size:14px;}
  .card-body{color:gray;}
  
  .info .card{
    margin-top:20px;
  }
  
  .fondito{
    height:150px;
    width:90px;
    background: url("../assets/silueta.png");
    background-size:cover;
    opacity:0.3;
  }
  
  .infito{
    position:absolute;
  }