<div class="container">
    <div class="card">
        <div class="card-header">
             <h3>Criminales</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>Nº Orden</th>
                        <th>Distrito</th>
                        <th>Edad</th>
                        <th>Trabaja</th>
                        <th>Casos Vinculados</th>
                        <th>Tipo de Violencia</th>
                        <th>Detenido por Consumo de Alcohol</th>
                        <th>Detenido por Consumo de Nicotina</th>
                        <th>Detenido por Consumo de Droga</th>
                        <th>Adiccion</th>
                        <th>Riesgo</th>
                        <th>Mes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let persona of personas" class="text-center">
                        <td>{{persona.index}}</td>
                        <td>{{persona.cai}}</td>
                        <td>{{persona.edad}}</td>
                        <td>{{persona.trabajo}}</td>
                        <td>{{persona.vinculo}}</td>
                        <td>{{persona.tipovio}}</td>
                        <td>{{persona.cAlcohol}}</td>
                        <td>{{persona.fuma}}</td>
                        <td>{{persona.cDroga}}</td>
                        <td>{{persona.adiccion}}</td>
                        <td>{{persona.riesgo}}</td>
                        <td>{{persona.mes}}</td>
                    </tr>
                </tbody>         
            </table>
        </div>
    </div>
</div>
