/* You can add global styles to this file, and also import other style files */
body{
    font-family: Cambria!important;
    padding:20px;
    background: #676767 url("assets/always-grey.png") repeat;
   }
  
  html, body { height: 100%; }
  body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }